winery-ext/winery.repository.ext/src/main/webapp/WEB-INF/templates/management_plan_wsdl_template.xml

<!--


    Copyright (C) 2016 ZTE, Inc. and others. All rights reserved. (ZTE)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?xml version="1.0" encoding="UTF-8"?>
<definitions name="$planName"
    targetNamespace="$planNameSpace"
    xmlns:tns="$planNameSpace"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    xmlns:si="http://siserver.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >

    <import namespace="http://siserver.org/wsdl" location="invoker.wsdl" />
    <types>
        <schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="$planNameSpace"
            xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="planInput">
                <complexType>
                    <sequence>
                        #foreach($param in $inputParams)
                            <element name="$param.name" type="string" />
                        #end
                    </sequence>
                </complexType>
            </element>
            <element name="planOutput">
                <complexType>
                    <sequence>
                        <element name="correlationId" type="string" />
                        <!-- Relevant if build plan was executed that created a new service 
                            instance -->
                        <element name="serviceInstanceId" type="string" />
                        
                        #foreach($param in $outputParams)
                            <element name="$param.name" type="string" />
                        #end
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="planInputMessage">
        <part name="payload" element="tns:planInput" />
    </message>
    <message name="planOutputMessage">
        <part name="payload" element="tns:planOutput" />
    </message>


    <plnk:partnerLinkType name="${planName}PLT">
        <plnk:role name="${planName}Provider" portType="tns:${planName}PT" />
        <plnk:role name="${planName}Client" portType="tns:${planName}ClientCallbackPT" />
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OpenTOSCAServiceInvokerPLT">
        <plnk:role name="ServiceInvokerClient" portType="si:CallbackPortType" />
        <plnk:role name="ServiceInvoker" portType="si:InvokePortType" />
    </plnk:partnerLinkType>

    <vprop:property name="ServiceInvokerRequestProperty"
        type="xsd:string" />

    <vprop:propertyAlias messageType="si:invokeOperationAsyncMessage"
        part="invokeOperationAsync" propertyName="tns:ServiceInvokerRequestProperty">
        <vprop:query><![CDATA[//*[local-name()="MessageID" and namespace-uri()="http://siserver.org/schema"]]]></vprop:query>
    </vprop:propertyAlias>

    <vprop:propertyAlias messageType="si:invokeResponse"
        part="invokeResponse" propertyName="tns:ServiceInvokerRequestProperty">
        <vprop:query><![CDATA[//*[local-name()="MessageID" and namespace-uri()="http://siserver.org/schema"]]]></vprop:query>
    </vprop:propertyAlias>

    <!-- Port type provides the operation to the client for starting the plan 
        plan -->
    <portType name="${planName}PT">
        <operation name="initiatePlan">
            <input message="tns:planInputMessage" />
        </operation>
    </portType>

    <portType name="${planName}ClientCallbackPT">
        <operation name="onResult">
            <input message="tns:planOutputMessage" />
        </operation>
    </portType>




    <binding name="${planName}PTBinding" type="tns:${planName}PT">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="initiatePlan">
            <soap:operation
                soapAction="$planNameSpace/initiate" />
            <input>
                <soap:body use="literal" />
            </input>
        </operation>
    </binding>
    <binding name="${planName}ClientPTBinding" type="tns:${planName}ClientCallbackPT">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="onResult">
            <soap:operation
                soapAction="$planNameSpace/onResult" />
            <input>
                <soap:body use="literal" />
            </input>
        </operation>
    </binding>


    <service name="${planName}Service">
        <port name="${planName}Port" binding="tns:${planName}PTBinding">
            <soap:address location="http://localhost:8080/$planName" />
        </port>
    </service>

    <service name="${planName}ClientService">
        <port name="${planName}ClientPort" binding="tns:${planName}ClientPTBinding">
            <soap:address location="http://localhost:8080/${planName}Client" />
        </port>
    </service>

    <service name="${planName}SICallback">
        <port binding="si:CallbackBinding" name="${planName}SICallbackPort">
            <soap:address location="http://localhost:9763/services/${planName}SICallback/"/>
        </port>
    </service>
</definitions>